.header {
  text-align: center;
  border: 5px solid blue;
}

.main {
  text-align: center;
  border: 5px solid brown;
}

.mainArticle {
  text-align: center;
  border: 5px solid yellow;
}

.footer {
  text-align: center;
  border: 5px solid black;
}

.infoBox {
  text-align: center;
  border: 5px solid orange;
}

.contactBox {
  text-align: center;
  border: 5px solid green;
}

.infoBoxImage {
  max-width: 100%;
  height: auto;
}
