.header {
  text-align: center;
  background-color: blue;
  color: white;
}

.main {
  text-align: center;
  background-color: blue;
  color: white;
}

.footer {
  text-align: center;
  background-color: blue;
  color: white;
}
