.body {
  max-width: 100%;
}

.header {
  text-align: center;
  border: 5px solid blue;
  background-color: white;
  background-image: url("Images/backgroundImage1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 250px;
}

.main {
  border: 5px solid brown;
}

.mainArticle {
  text-align: center;
  border: 5px solid yellow;
}

.footer {
  text-align: center;
  border: 5px solid black;
}

.infoBox {
  text-align: center;
  border: 5px solid orange;
}

.contactBox {
  text-align: center;
  border: 5px solid green;
}

.infoBoxImage {
  max-width: 100%;
  height: auto;
}
